.modal {
    position: fixed; 
    top: 35%;    
    left: 50%; 
    transform: translate(-50%, -50%);
    background: #8a9bd9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}