.connections-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 600px; */
}

.terms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}
.mistakes {
    display: flex;;
    justify-content: center;
    align-items: center;
}
.mistake {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 50%;
}