.group-container {
    border: 5px solid #604CC3;
    width: 500px;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #615EFC;
    color: white;
    margin: 10px 0;
}

.group-container p {
    display: inline;
    padding: 0 10px;
}

.group-container h1 {
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .group-container{
        width: 350px;
    }
}