.connections-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connections-container p {
  margin: .5rem;
}

.logo {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.logo h1 {
  font-size: 3rem;
  margin: 0 1rem;
}

.logo img {
  width: 40px;
  height: 40px;

}

.terms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 10px 0;
}

.mistakes {
  display: flex;
  ;
  justify-content: center;
  align-items: center;
}

.mistake {
  width: 20px;
  height: 20px;
  background-color: #604CC3;
  margin: 0 10px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.button {
  align-items: center;
  appearance: button;
  background-color: #604CC3;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}

@media only screen and (max-width: 600px) {
  .terms-container {
    width: 400px;
  }
}